@model IEnumerable<SampleASPCore.Models.Restaurant>

@section CssFile{
    <link href="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<div class="row">
    <div class="col-md-12">
        @if (ViewData["pesan"] != null)
        {
            @Html.Raw(ViewData["pesan"]);
        }
    </div>
    <div class="col-md-6">
        <br />
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var resto in Model)
                {
                    <tr>
                        <td>@resto.Id</td>
                        <td>@resto.Name</td>
                        <td>@resto.Address</td>
                        <td><a href="/Restaurant/Details/@resto.Id">detail</a></td>
                        <td><a asp-action="Edit" asp-route-id="@resto.Id">edit</a></td>
                        <td><a asp-action="Delete" asp-route-id="@resto.Id" >delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/sbadmin2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sbadmin2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/sbadmin2/js/demo/datatables-demo.js"></script>
}

